@import './mixins/mixins.scss';
@import './var.scss';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  background: #f8f9fa;
}


@include b(body) {
  width: $--me-container-width;
  margin: 0 auto;
}

@include b(empty) {
  margin: 0 8px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
  @include e(img) {
    height: 100px;
    margin-bottom: 8px;

    img {
      height: 100%;
    }
  }

  .el-link {
    margin-left: 5px;
    vertical-align: baseline;
  }

  @include e(footer) {
    margin-top: 16px;
  }
}

@include b(actions) {
  position: absolute;
  right: 30px;
  bottom: 30px;
  display: inline-block;
}

@include b(form) {
  .el-form-item__label {
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 0 0 10px;
    line-height: 1;
  }

  p {
    padding: 8px 0;
    line-height: 18px;
    font-size: 12px;
    margin: 0px;
    word-break: break-all;
  }
  @include e(btn) {
    width: 100%;
  }

  .el-select-dropdown {
    left: 0!important;
  }

  .el-input-group__prepend {
    padding: 0 8px;
  }
}



