@import './mixins/mixins.scss';
@import './var.scss';

@include b(body) {
  width: $--me-container-width;
  margin: 0 auto;
}

@include b(empty) {
  margin: 0 8px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
  @include e(img) {
    height: 100px;
    margin-bottom: 8px;

    img {
      height: 100%;
    }
  }

  .el-link {
    margin-left: 5px;
    vertical-align: baseline;
  }

  @include e(footer) {
    margin-top: 16px;
  }
}

@include b(actions) {
  position: absolute;
  right: 30px;
  bottom: 30px;
  display: inline-block;
}